DISCORD_TOKEN=
PANEL_URL=
BOT_KEY=
DEEPGRAM_MODEL=nova-3
DEEPGRAM_DAILY_MINUTES=6000
DEEPGRAM_KEY_1=
DEEPGRAM_KEY_2=
DEEPGRAM_KEY_3=
DEEPGRAM_KEY_4=
DEEPGRAM_KEY_5=
DEEPGRAM_KEY_6=
DEEPGRAM_KEY_7=
DEEPGRAM_KEY_8=
DEEPGRAM_KEY_9=
DEEPGRAM_KEY_10=
